<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cf2ed0ed-d965-45de-bb8a-93795e4891f0/resourceGroups/Default-Web-EastUS/providers/Microsoft.Web/sites/mbcs</ResourceId>
    <ResourceGroup>Default-Web-EastUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mbcs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>mbcs.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mbcs</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName>$mbcs</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=DEVELOPMENT\MSSQLSERVER,1433;Initial Catalog=MbcsCentral_fishman;Persist Security Info=True;User ID=mbartmon;Password=Vietnam65" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MbcsCentralWeb.Models.ApplicationDbContext, MbcsCentralWeb" MigrationConfiguration="MbcsCentralWeb.Migrations.Configuration, MbcsCentralWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DEVELOPMENT\MSSQLSERVER,1433;Initial Catalog=MbcsCentral_fishman;Persist Security Info=True;User ID=mbartmon;Password=Vietnam65</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>