body {
}

.mbcscentral {
	font-family: 'Stencil Std';
	font-size: 28px;
	font-style: normal;
	color:lightblue;
	text-align: left;
    margin-top:1px;
    position:relative;
}

.mbcscentral-box {
	font-family: 'Stencil Std';
	font-size: 48px;
	font-style: normal;
	color: #0000FF;
	text-align: center;
	background-color: #99CCFF;
	border-style: double;
	border-width: medium;
	position: relative;
}

#mbcscentral-box-small a {
	font-family: 'Stencil Std';
	font-size: 14px;
	font-style: normal;
	color: black;
	text-align: center;
	background-color: #99CCFF;
	border-style: solid;
	border-width: medium;
	position: relative;
}

.banner-text {
    font-size:16px;
    font-weight:bold;
    color:white;
    margin-top:13px;
    margin-left:8px;
    margin-right:50px;
}

.sidebar-text-h1 {
    font-size:16px;
    font-weight:bold;
    color:white;
}

.sidebar-text-normal {
    font-size:14px;
    color:white
}
.mainmenu
{
	margin:auto;
	width:400px;
	}

.menuitem
{
	border-style: solid;
}

.wrapper{
    margin-top:150px;
    width:920px
}
.left-panel{
    float: left;
    width: 200px;
    height: auto;
    padding: 10px;
    margin-left: 10px;
}

.middle-panel{
    float:right;
    width:700px;
    padding:10px
}

.product {
    text-align:left;
    margin:5px
}

.general-h1 {
    font-size:24px; 
    color:#0397DE; 
    text-align:center;
}

.content-text-border {
    color:blue; 
    font-size:16px; 
    border:outset; 
    padding:5px
}

.content-text {
    color:blue; 
    font-size:16px; 
    padding:5px
}

.content-text-border2{
    font-family: 'Arial'; 
    font-size: 18px; 
    font-style: normal; 
    color: blue; 
    font-weight:bold; 
    text-align: center; 
    background-color:beige; 
    border-style: solid; 
    border-width: 3px; 
    position: relative;
    padding:20px
}


.content-text-border3{
    font-family: 'Arial'; 
    font-size: 18px; 
    font-style: normal; 
    color: blue; 
    font-weight:bold; 
    text-align: left; 
    background-color:beige; 
    border-style: solid; 
    border-width: 3px; 
    position: relative;
    padding:20px
}

.content-text-border4{
    font-family: 'Arial'; 
    font-size: 14px; 
    font-style: normal; 
    color: blue; 
    font-weight:bold; 
    text-align: left; 
    background-color:beige; 
    border-radius: 10px;
    border-style: solid; 
    border-width: 3px;
    border-color: blue; 
    position: relative;
    padding:20px
}

.hr {
    border-top: 3px solid black; 
    height: 2px;
}